@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
  flex-shrink: 0;
}

/* :root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;line-height:1.5;overflow-wrap:break-word;-moz-tab-size:4;tab-size:4} */
html, body {
  height: 100%;
}

body {
  line-height: 1.2em;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: bold;
}

input {
  font-family: "Nanum Gothic";
  color: #767676;
}

body {
  min-width: 320px;
  /* 화살표 포함 width */
  font-size: 13px;
  vertical-align: baseline;
  background: #fff;
  font-family: "Gilroy", "NotoSansKR", Malgun Gothic, "맑은 고딕", Dotum, "돋움", sans-serif;
  color: #333;
  font-style: normal;
}
body.overflow {
  overflow: hidden;
}
body.overflow .dimmed {
  display: block;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
}

.overflow {
  overflow: hidden;
}

.common-inner {
  width: 1152px;
  margin: 0 auto;
}

.dot {
  display: inline-block;
  position: relative;
  font-size: 18px;
  margin-right: 7px;
}
.dot::after {
  content: "";
  position: absolute;
  top: 0px;
  width: 6px;
  height: 6px;
  margin-left: 3px;
  background: #ee5728;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.header .group-gnb .cr-or, .header .category-wrap .cr-or {
  color: #ee5728;
}

#skipNav {
  position: relative;
  z-index: 3000;
}

#skipNav a {
  position: absolute;
  top: -30px;
  left: 0;
  width: 138px;
  border: 1px solid #4ec53d;
  background: #333;
  text-align: center;
}

#skipNav a:active,
#skipNav a:focus {
  top: 0;
  text-decoration: none;
  z-index: 1000;
}

#skipNav span {
  display: inline-block;
  padding: 2px 6px 0 0;
  font-size: 13px;
  line-height: 26px;
  color: #fff;
  letter-spacing: -1px;
  white-space: nowrap;
}

.strong,
.emphasis,
em,
strong {
  font-weight: bold;
}

.headline {
  padding: 50px 16px 22px;
  font-size: 20px;
  line-height: 29px;
  color: #333;
  letter-spacing: -0.05em;
  font-weight: 700;
}

.headline-middle {
  display: inline-block;
  padding: 30px 0;
  font-size: 20px;
  line-height: 24px;
  color: #333;
  font-weight: 600;
  position: relative;
}

.dimmed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 3;
  display: none;
}

@font-face {
  font-family: "NotoSansKR";
  src: url(../font/NotoSansKR-Light-Hestia.woff) format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "NotoSansKR";
  src: url(../font/NotoSansKR-Regular-Hestia.woff) format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "NotoSansKR";
  src: url(../font/NotoSansKR-Medium-Hestia.woff) format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "NotoSansKR";
  src: url(../font/NotoSansKR-Bold-Hestia.woff) format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Gilroy";
  src: url(../font/Gilroy-Regular.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy";
  src: url(../font/Gilroy-Medium.woff2) format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Gilroy";
  src: url(../font/Gilroy-SemiBold.woff2) format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Gilroy";
  src: url(../font/Gilroy-Bold.woff2) format("woff2");
  font-weight: 700;
}
.headerbanner .swiper-slide {
  background: #030303;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.headerbanner .link-banner {
  display: block;
  height: inherit;
  line-height: 40px;
  letter-spacing: -0.02em;
  color: #fff;
}
.headerbanner .link-banner .or {
  color: #ee5728;
}
.headerbanner .link-banner .kakao {
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 18px;
  line-height: 40px;
  margin-left: 7px;
  margin-bottom: 2px;
  background-image: url(../images/Icon_kakao_channel.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.headerbanner .link-banner .arrow {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 16px;
  margin-bottom: 4px;
  background-image: url(../images/arrow_wh.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.header-inner {
  position: absolute;
  top: 40px;
  width: 100%;
  left: 0;
  z-index: 2;
  transition: background 0.3s;
}
.header-inner .group-header {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 56px;
}
.header-inner .group-header .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-inner .group-header .icon {
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.header-inner .group-header .icon.btn-search {
  margin-right: auto;
}
.header-inner .group-header .link-cart {
  position: relative;
}
.header-inner .group-header .link-cart .number {
  position: absolute;
  right: 0;
  top: 14px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #000;
  color: #fff;
  font-size: 11px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
}
.header-inner.fixed {
  position: fixed;
  top: 0;
  background: #fff;
}
.header-inner.fixed svg path {
  fill: #000;
}
.header-inner.fixed .nav-area {
  display: block;
}

.group-gnb {
  position: relative;
}
.group-gnb.active .nav-area .nav-list {
  visibility: hidden;
  /* 영역은 잡혀있음,,  하지만 안보임*/
}
.group-gnb.active .nav-area .all-title {
  display: block;
}
.group-gnb.active .nav-area .btn-all {
  transform: rotate(180deg);
}
.group-gnb .nav-area {
  display: none;
  position: relative;
  background: #fff;
}
.group-gnb .nav-area .nav-list {
  display: flex;
  overflow-x: auto;
  /* 그 영역만 스크롤 되게!! */
  padding: 11px 0 11px 15px;
  gap: 10px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.group-gnb .nav-area .nav-list::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.group-gnb .nav-area .nav-item {
  flex-shrink: 0;
  /* 줄어들지 말라고 비율 */
}
.group-gnb .nav-area .nav-item a {
  font-size: 16px;
  line-height: 23px;
  letter-spacing: -0.05em;
  color: #333;
  font-weight: 400;
}
.group-gnb .nav-area .all-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 11px 15px 11px;
  line-height: 23px;
  font-size: 16px;
  display: none;
}
.group-gnb .nav-area .btn-all {
  position: absolute;
  width: 28px;
  height: 28px;
  right: 10px;
  top: auto;
  bottom: 11px;
  display: inline-block;
  background: url(../images/btn_open_middle_bk.png) no-repeat;
  background-size: 12px auto;
  background-repeat: no-repeat;
  background-position: center;
}
.group-gnb .all-area {
  display: none;
  background: #f6f6f6;
  border-top: 1px solid #dcdcdc;
}
.group-gnb .all-area .menu-list {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  padding: 6px 12px;
}
.group-gnb .all-area .menu-item {
  padding: 8px 17px;
  border: 1px solid #ebebeb;
  background: #fff;
  border-radius: 100px;
}
.group-gnb .all-area .menu-item a {
  font-size: 14px;
  line-height: 20px;
}

.side-nav {
  position: fixed;
  top: 0;
  transform: translateX(-100%);
  width: 82%;
  height: 100%;
  overflow: auto;
  background: #fff;
  font-size: 11px;
  padding: 0 16px;
  z-index: 10000;
  transition: transform 0.7s;
}
.side-nav.active {
  transform: translateX(0);
}
.side-nav .btn-close {
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  right: 16px;
  top: 38px;
  padding: 0;
  font-size: 0;
}
.side-nav .login-area {
  padding: 0 16px;
  border-bottom: 1px solid #ddd;
  line-height: normal;
  box-sizing: border-box;
  width: calc(100% + 32px);
  margin-left: -16px;
}
.side-nav .login-area .txt {
  display: block;
  color: #777;
  font-weight: 400;
  font-size: 13px;
  line-height: normal;
  padding-top: 15px;
}
.side-nav .login-wrap {
  padding: 32px 0 30px;
}
.side-nav .login-wrap .link {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: auto;
  height: auto;
  padding: 10px 26px;
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
  border-radius: 2px;
  letter-spacing: -1px;
}
.side-nav .login-wrap .link-login {
  background: #0e0e0e;
  color: #fff;
  border: 1px solid #222;
}
.side-nav .login-wrap .link-join {
  margin-left: 3px;
  background: #fff;
  border: 1px solid #ccc;
  color: #333;
  font-weight: 500;
}
.side-nav .category-wrap {
  padding: 18px 0 11px;
}
.side-nav .category-list.border {
  padding: 18px 0 11px;
  border-top: 1px solid #ddd;
}
.side-nav .category-item {
  position: relative;
}
.side-nav .category-item.padding {
  padding-bottom: 11px;
}
.side-nav .category-item .sub {
  padding-bottom: 15px;
  display: none;
}
.side-nav .category-item .sub-list a {
  display: block;
  padding: 11px 0;
  color: #848484;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.5px;
  font-weight: 400;
}
.side-nav .category-item > a {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}
.side-nav .category::after {
  content: "";
  display: block;
  width: 30px;
  height: 28px;
  background-image: url(../images/btn_open.png);
  background-repeat: no-repeat;
  background-size: 28px auto;
  transition: transform 0.3s;
}
.side-nav .category.active::after {
  transform: rotate(180deg);
}
.side-nav .group-info .event-area .headline-event {
  font-size: 17px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #333;
  font-weight: 500;
  padding: 20px 0 16px;
  border-top: 1px solid #ddd;
}
.side-nav .group-info .event-area img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3px;
}
.side-nav .group-info .text-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #222;
}
.side-nav .group-info .text-box .desc {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.02em;
  font-weight: 400;
  color: #777;
}
.side-nav .group-info .text-box .all {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.02em;
  font-weight: 500;
  color: #777;
}
.side-nav .group-info .sub-area {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  overflow: hidden;
  margin: 30px 0;
}
.side-nav .group-info .sub-area a {
  position: relative;
  text-align: center;
  display: block;
  width: 50%;
  background: #F2F2F2;
  padding: 14px 0;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.02em;
  font-weight: 400;
  color: #777;
}
.side-nav .group-info .sub-area a:first-child::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  width: 1px;
  height: 16px;
  background: #CCC;
  z-index: 1;
}

.search-area {
  display: none;
  overflow-y: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: url(../images/220825.jpg) no-repeat center/cover;
}
.search-area.active {
  display: block;
}
.search-area .btn-before {
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 18px;
  padding: 25px 4.17%;
  background: url(../images/close_search.png) no-repeat center/10px auto;
  color: transparent;
  font-size: 0;
}
.search-area .search-wrap {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
.search-area form {
  padding: 0 9.72%;
}
.search-area .search-box {
  position: relative;
  height: 45px;
  margin: 0;
  padding: 0 6.55% 0 0;
  border: 0;
  border-bottom: 2px solid #fff;
  background: none;
  box-sizing: border-box;
}
.search-area .search-box input::-moz-placeholder {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 20px;
  line-height: 43px;
  letter-spacing: -0.5px;
}
.search-area .search-box input:-ms-input-placeholder {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 20px;
  line-height: 43px;
  letter-spacing: -0.5px;
}
.search-area .search-box input::placeholder {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 20px;
  line-height: 43px;
  letter-spacing: -0.5px;
}
.search-area .search-box .search {
  height: 43px;
  background: transparent;
  color: #fff;
  font-size: 20px;
  line-height: 43px;
  border: none;
  width: 100%;
  outline: none;
}
.search-area .search-box .btn-search {
  position: absolute;
  right: 0;
  top: 50%;
  width: 19px;
  height: 19px;
  margin-top: -9px;
  background: url(../images/search.png) no-repeat center/19px auto;
  color: transparent;
  font-size: 0;
}

.footer {
  margin: 0;
  background: #fafafa;
  padding: 30px 16px 30px;
  color: #555;
  font-family: "Gilroy", "NotoSansKR", sans-serif;
  line-height: 20px;
}
.footer .logo-area {
  width: 90px;
}
.footer .logo-area .logo {
  display: block;
  padding-bottom: 10px;
}
.footer .logo-area img {
  width: 90px;
}
.footer .desc {
  font-size: 14px;
}
.footer .cs-area {
  padding-bottom: 20px;
}
.footer .cs-area .cs {
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  padding-top: 24px;
  padding-bottom: 5px;
}
.footer .cs-area .tel {
  display: block;
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 10px;
}
.footer .cs-area .time {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  padding-bottom: 5px;
}
.footer .sns-area {
  width: 150px;
  display: flex;
  gap: 25px;
}
.footer .sns-area img {
  height: 22px;
}

.policy-area {
  padding: 12px 0;
}
.policy-area .policy-list {
  display: flex;
}
.policy-area .policy-list a strong {
  font-size: 12px;
  line-height: 1.7;
  color: #777;
  padding: 4px 0;
}
.policy-area .policy-list a::after {
  content: "";
  width: 1px;
  height: 10px;
  background: #ccc;
  margin: 0 10px;
  display: inline-block;
}
.policy-area .policy-list .dn::after {
  content: "";
  display: none;
}
.policy-area .addr-area p {
  display: inline-block;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  color: #777;
}

.license-area {
  margin-top: 24px;
}
.license-area .license-list {
  display: flex;
  gap: 22px;
  align-items: center;
}
.license-area .license-item a {
  display: block;
  width: 45px;
}
.license-area .license-item a.img2 {
  width: 36px;
}
.license-area .license-item a.img3 {
  width: 27px;
}
.license-area .license-item img {
  max-width: 100%;
  max-height: 100%;
}

.sc-visual {
  height: calc(100vh - 140px);
}
.sc-visual .swiper {
  height: 100%;
}
.sc-visual .swiper a {
  height: 100%;
}
.sc-visual .swiper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sc-visual .swiper .swiper-pagination {
  bottom: 40px;
}
.sc-visual .swiper .swiper-pagination-bullet {
  width: 20px;
  height: 2px;
  margin: 0;
  border-radius: 0;
  /* bdrs0 */
}
.sc-visual .swiper .swiper-pagination-bullet-active {
  background: #fff;
}
.sc-visual .text-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 100px 40px;
  height: auto;
  color: #fff;
}
.sc-visual .text-box .title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.25;
  letter-spacing: -1.3px;
}
.sc-visual .text-box .desc {
  font-weight: 400;
  padding-top: 15px;
  font-size: 17px;
  line-height: 1.4;
  letter-spacing: -0.5px;
  color: #fff;
}

.common-link {
  padding: 0 38px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 65px;
}
.common-link .link-more {
  display: block;
  width: 100%;
  height: 52px;
  line-height: 52px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  background: #fff;
  font-size: 15px;
  color: #222;
  font-weight: 500;
  text-align: center;
}
.common-link .link-more::after {
  content: "";
  padding-left: 24px;
  width: 19px;
  height: 19px;
  background: url(../images/go_cate.png) no-repeat;
  background-size: 19px auto;
  background-position: center;
}

.common-list.list1 {
  display: flex;
  width: 100%;
  gap: 2.22%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.common-list.list1 .common-item {
  padding-bottom: 50px;
  width: 48.89%;
}
.common-list.list1 img {
  width: 100%;
}
.common-list.list2 {
  padding: 0 16px;
}
.common-list.list2 .common-item {
  padding: 20px 0;
  display: flex;
  justify-content: start;
  align-items: flex-start;
}
.common-list.list2 .common-item + .common-item {
  border-top: 1px solid #eee;
}
.common-list.list2 .common-item a {
  display: flex;
}
.common-list.list2 .common-item .img-box {
  max-width: 110px;
}
.common-list.list2 .common-item .text-box {
  padding: 0 28px;
  flex: 1;
}
.common-list .img-box {
  width: 100%;
  position: relative;
}
.common-list .img-box .icons {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  min-width: 40px;
}
.common-list .img-box .icons img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
}
.common-list .text-box {
  padding: 15px 5% 17px;
}
.common-list .text-box .review {
  display: block;
  width: 100%;
  font-size: 13px;
  line-height: 13px;
  font-weight: 600;
  color: #8e1f29;
}
.common-list .text-box .title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
  padding: 10px 0;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.05em;
  line-height: 17px;
}
.common-list .price .percentage {
  color: #8E1F29;
  font-weight: 600;
  margin-right: 5px;
  vertical-align: top;
  font-size: 15px;
  letter-spacing: -0.03em;
}
.common-list .price .sale {
  padding: 0;
  font-size: 15px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: -0.03em;
  vertical-align: top;
}
.common-list .price .cost {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #8d8d8d;
  margin-left: 5px;
  text-decoration: line-through;
}

.sc-midbanner {
  width: 90%;
  max-width: 1200px;
  margin: 60px auto 120px;
}
.sc-midbanner a {
  display: block;
}
.sc-midbanner a img {
  width: 100%;
}

.lookbook .text-box {
  padding: 20px 16px 20px;
}
.lookbook .text-box .title-lg {
  font-size: 26px;
  line-height: 35px;
  color: #333;
  letter-spacing: -0.05em;
  font-weight: 700;
}
.lookbook .text-box .desc {
  padding: 14px 0 28px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.05em;
  color: #333;
  font-weight: 400;
}
.lookbook .text-box .link-see {
  display: inline-block;
  background-color: #1e1e1e;
  border-radius: 2px;
  border: 1px solid #1e1e1e;
  box-sizing: border-box;
  color: #fff;
  padding: 8px 47px 8px 18px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.03em;
  font-weight: 500;
  background-image: url(../images/icon_move.png);
  background-repeat: no-repeat;
  background-size: 15px auto;
  background-position: calc(100% - 18px) center;
}
.lookbook .text-box .sub {
  padding: 14px 0 28px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.05em;
  color: #333;
  font-weight: 400;
}

.sc-smallad {
  padding: 0 16px;
}

.second-ad {
  padding-top: 40px;
}

.sc-brandstory {
  padding: 20px 0;
  display: block;
  position: relative;
}
.sc-brandstory .link-brandstory {
  display: block;
  padding: 56px 20px;
  background-color: #C86733;
}
.sc-brandstory .subtitle {
  color: #fff;
  font-size: 18px;
  letter-spacing: -0.5px;
  margin: 0 auto 10px;
  font-weight: 400;
  display: inline-block;
  border-bottom: 1.5px solid #fff;
  padding-bottom: 5px;
  line-height: 1.2;
}
.sc-brandstory .title {
  display: block;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #fff;
  font-weight: 700;
}
.sc-brandstory .desc {
  padding: 10px 0 5px;
  font-size: 12px;
  line-height: 1.4;
  color: #fff;
  letter-spacing: -0.02em;
  font-weight: 400;
}
.sc-brandstory .link-detail {
  display: inline-block;
  width: 100px;
  margin-top: 20px;
  padding: 10px 0;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.03em;
  font-weight: 500;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #fff;
}

.content {
  padding-left: 20px;
  position: relative;
}
.content.set {
  padding-top: 8px;
}
.content .link-plus {
  position: absolute;
  display: inline-block;
  top: 30px;
  right: 5%;
  padding: 0 5px;
  border: 0px solid #333;
}
.content .link-plus::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 11px;
  margin-left: 3px;
  margin-bottom: 2px;
  background-image: url(../images/icon-move-gr.png);
  background-repeat: no-repeat;
  background-size: 15px auto;
  background-position: center;
}
.content .img-box img {
  max-width: 100%;
  width: 100%;
}

.bottom-banner {
  padding-top: 70px;
  position: relative;
}

.sc-info.membership {
  margin-top: 70px;
  background: url(../images/banner_01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sc-info.store {
  background: url(../images/banner-mo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 10px;
}
.sc-info a {
  display: block;
  background-repeat: no-repeat;
  padding: 65px 20px;
}
.sc-info .title-lg {
  font-size: 26px;
  line-height: 31px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #fff;
}
.sc-info .desc {
  font-size: 15px;
  line-height: 1.4;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #fff;
  padding: 15px 0 30px;
}
.sc-info .link-detail {
  border: 1px solid #fff;
  padding: 7px 25px 8px;
  color: #fff;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.03em;
  display: inline-block;
  margin-top: 30px;
}